#footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    background-color: rgb(61, 58, 58);
    position: fixed;
    bottom: 0;
    height: 30%;
    overflow-y:scroll;
}

input {
    height: 40px;
    width: 40%;
}

#footer1,
#footer2,
#footer3 {
    border-right: 2px solid white;
    text-align: center;
    padding: 10px;
    font-size: 15px;

}

a:hover {
    color: rgb(24, 243, 188);

}