* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #302e2e;
}

body {
  font-family: Arial, sans-serif;
  /* background-color: #302e2e; */
  text-align: center;
  overflow: scroll;
}

.slide-container {
  position: relative;
  width: 100%;
  height:50%px;
  margin: auto;
  overflow: hidden;
}

.slider {
  height: fit-content;
  width: 100%;
  /* display: flex; */
  transition: transform 0.5s ease;
}

.slider img {
  width: 100%;
  height: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{

    left: 0;
    border-radius: 3px 0 0 3px;
  
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
 /* for large screen */
 @media(min-width:1024px) and (max-width:1250px) {
  .slide img{
    width: 100%;
    height: 50%;

  }
}

/* Medium large screen */
@media(min-width:768) and (max-width:1023px) {
  .slide img{
      width: 70%;
      height: 50%;
  }
}

/* small large screen */
@media(min-width:320px) and (max-width:767px) {
  .slide img{
     width: 50%;
     height: 30%;
  }
}
#bank-offers {
  border: 2px solid black;
  margin-top: 30%;
}

.banks {
  display: flex;
  width: 100%;
  margin: auto;
}

.banks>img {
  width: 40%;
  margin: 1rem auto;
}

#new {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}

#new>img {
  width: 650px;
  margin: auto;
  padding-left: 20px;
}
/* for large screen */
@media(min-width:1024px) and (max-width:1250px) {
  #new >img{ 
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr)

  }
}

/* Medium large screen */
@media(min-width:768) and (max-width:1023px) {
  #new > img{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr)
  }
}

/* small large screen */
@media(min-width:320px) and (max-width:767px) {
  #new >img{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr)
  }
}
#products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: fit-content;
  padding: 10px;
  margin: auto;
  gap: 10px;
  justify-items: center;
}

#products>img {
  width: 400px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* for large screen */
@media(min-width:1024px) and (max-width:1250px) {
  #products >img{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr)

  }
}

/* Medium large screen */
@media(min-width:768) and (max-width:1023px) {
  #products >img{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr)
  }
}

/* small large screen */
@media(min-width:320px) and (max-width:767px) {
  #products >img{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(1, 1fr)
  }
}
#myInput {
  background-image: url('/css/searchicon.png'); 
  background-repeat: no-repeat; 
  width: 100%;
  font-size: 16px; 
  padding: 12px 20px 12px 40px; 
  border: 1px solid #ddd; 
  margin-bottom: 12px; 
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; 
  margin-top: -1px; 
  background-color: #f6f6f6; 
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black; 
  display: block; 
}

#myUL li a:hover:not(.header) {
  background-color: #eee; }

