#form {
    height: 500px;
    width: 500px;
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 10px;
    margin: 4rem auto;
}

input {
    height: 30px;
    width: 90%;
    margin-top: 20px;
    font-size: 20px;
    background-color: rgb(20, 20, 20);
    border: 2px solid aqua;
    color: white;
    padding: 10px;
}

span {
    margin-left: 40%;
    font-size: 20px;
}
#submit{
    width: 95%;
    height: 40px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(248, 248, 248);
    text-decoration: none;
    cursor: pointer;
}
/* .sidenav {
    height: 80%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow:scroll;
    transition: 0.5s;
    padding-top: 60px;
    overflow-x: hidden; 

} */